DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=tu_usuario_postgres
DB_PASSWORD=tu_password_postgres
DB_DATABASE=canchas_db
PORT=3000
JWT_SECRET=una_clave_secreta_larga_y_aleatoria
JWT_EXPIRES_IN=3600
ADMIN_EMAIL=admin@canchas.com
ADMIN_PASSWORD=cambia_esta_clave